<!DOCTYPE HTML>
<html>
<head>
    <title>NaturalVision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Assets/client/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Assets/client/js/jquery1.min.js"></script>
    <link rel="icon" href="https://www.jing.fm/clipimg/full/247-2478646_yamaha-clipart-motorcycle-bike-icon-png.png">
    <!-- start menu -->
    <script src="/Assets/client/js/jquery-2.2.3.min.js"></script>
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <link href="~/Assets/client/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/client/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!--start slider -->
    <link rel="stylesheet" href="~/Assets/client/css/fwslider.css" media="all">
    <script src="~/Assets/client/js/jquery-ui.min.js"></script>
    <script src="~/Assets/client/js/css3-mediaqueries.js"></script>
    <script src="~/Assets/client/js/fwslider.js"></script>
    <!--end slider -->
    <script src="~/Assets/client/js/jquery.easydropdown.js"></script>
</head>
<body>
    <div class="header-top">

            @{ Html.RenderAction("TopMenu", "Home");}
 
    </div>
    <div class="header-bottom">
     
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="index.html"><img src="https://www.upsieutoc.com/images/2020/09/30/NVM.png" alt="" /></a>
                </div>
   @{Html.RenderAction("MainMenu", "Home"); }
            </div>
            <div class="header-bottom-right">
                <div class="search">
                    <input type="text" name="s" class="textbox" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                    <div id="response"> </div>
                </div>
                <div class="tag-list">
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>Target</h3><a href=""></a></li>
                                <li><p> Let spread this <a href="">FEVER</a></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c2" href="checkout.html"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>Không có sản phẩm</h3></li>
                                <li><p>Hiện bạn chưa thêm sản phẩm nào vào giỏ hàng</p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last"><li><a href="checkout.html">Giỏ hàng(0)</a></li></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- start slider -->
    @RenderSection("slide",required:false)

    <!--/slider -->
    <div class="main">
        @RenderBody();
    </div>


    <div class="footer">
        @{ Html.RenderAction("Footer", "Home");}
    </div>
</body>
</html>